@model Job.Data.Models.Domain.Employer

@{
    ViewBag.Title = "DeleteJob";
}
<style>
    .marginTop {
        margin-top: 30px
    }

    .line {
        border-bottom: 1px solid black;
    }
</style>
<h2 class="marginTop">Delete Job</h2>
<hr class="line">


<h3>Are you sure you want to delete this Job?</h3>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyAddress)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />

        </div>
    }
</div>
