@model IEnumerable<Job.Services.Models.CartMusic>

@{
    ViewBag.Title = "DisplayCart";
}

<h2>Cart</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Music.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Music.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Music.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Music.Title)

    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Music.Price)

    </td>
    <td>
        @{ string imagePath = "/Content/Images/Music/" + item.Music.Image;} @*Creating image path*@
        <img src="@imagePath" alt="No Image" width="30" height="30" /> @*Passing the image path to show image*@
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Quantity)

    </td>
    <td>
        <a href="@Url.Action("ReviseItem", new { id = item.Music.ID, toDo="increment", Controller = "Cart" })">
            <img src="~/Content/Images/Actions/increment.jpg" alt="Delete" width="30" height="30" />
        </a>

        <a href="@Url.Action("ReviseItem", new { id = item.Music.ID, toDo="decrement", Controller = "Cart" })">
            <img src="~/Content/Images/Actions/decrement.jpg" alt="Delete" width="30" height="30" />
        </a>

        <a href="@Url.Action("ReviseItem", new { id = item.Music.ID, toDo="remove", Controller = "Cart" })">
            <img src="~/Content/Images/Actions/remove.jpg" alt="Delete" width="30" height="30" />
        </a>

        @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
    </td>
</tr>
}
</table>
<p>
    <a href="@Url.Action("GetGenres", "Genre" )">
        <img src="~/Content/Images/Actions/continue.jpg" alt="Delete" width="60" height="30" />
    </a>

    <a href="@Url.Action("CheckOut", "Cart" )">
        <img src="~/Content/Images/Actions/checkout.jpg" alt="Delete" width="60" height="30" />
    </a>

</p>

